node_modules/
node_modules/*
backend/config/.env
.idea
.idea/backend.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/dictionaries/invibot.xml
.vscode/settings.json
*.log

\.DS_Store
